div.listBox{
    position: relative;

    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    padding-top: 90px;
    height: 100%;

    background-color: #F1ECE9;
    box-shadow: 0px 0px 20px #333A42;

    transition: 0.5s;

    z-index: 1;
}
#list{
    text-align:center; 
    padding-top: 1%;
    width: 96%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
button.plus_btn{
    outline-style: none;
    
    position: fixed;
    right: 5%;
    top: 85%;
    width: 80px;
    height: 80px;

    background: #D7443F;
    border-radius: 50%;

    color: white;
    font-size: 2.5em;
    
    z-index: 4;
}
div.imgBox{
    transition: 0.3s;
    display: inline-block;
    position: relative;

    margin: 5px auto;
    width: 23.3%;
    height: 200px;
    
    border: 3px dashed #485058;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #A6A5A1;
    bottom: 0px;
}
div.imgBox:hover{
    box-shadow: 0px 8px 10px #A6A5A1;
    bottom: 3px;
}
div.imgBox:not(:nth-child(4n+1)){
    margin-left: 1%;
}
div.imgBox img{ 
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0px 0px 20px #333A42;
}
@media only screen and (max-width: 900px) {
    div.listBox{
        width: 100%;
    }
    div.imgBox{
        width: 99%;
        margin-bottom: 20px;
    }
    li.main{
        width: 100%;
        text-align: center;
    }
    div.imgBox:not(:nth-child(4n+1)){
        margin-left: 0%;
    }
}
